@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// breaks points media query
$SMARTPHONE: 480px;
$TABLET: 768px;
$LAPTOP: 1024px;
$DESKTOP: 1200px;

// Basic colors:
$background-purple1: rgba(98, 46, 147, 0.638);
$background-purple2: rgb(98, 46, 147);
$background-bright: rgba(222, 215, 201, 0.929);
$button-color: rgb(112, 18, 11);
$button-color-hover: rgba(43, 39, 32, 0.929);

// Sizes

//Sizes Padding

// Fonts-size
